*{
    padding: 0%;
    margin: 0;
}
nav{
    height: 3rem;
    background: rgb(236, 212, 212);
    display: grid;
    align-items: center;
    /* padding: 0 123vh; */
    justify-content: center;
}
.container1{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 35vw;
}
.container2{
    display:flex ;

}
ul{
    list-style-type: none;
}
li{
    display: flex;
}
a{
    text-decoration: none;
    margin-right: 2rem;
    color: black;
    text-transform: capitalize;
}
a:hover{
 
    color: blue;
}
main{
    display: grid;
    place-items: center;
}
.container3{
   margin-top: 23vh;
   text-align: center;
}
.container3 h2{
    background: black;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 9px;
}
.btn{
    background-color: whitesmoke;
    color: black;
}
.btn:hover{
    background-color: black;
    color: red;
    
}